@model OnlinePortal.Models.PortralUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            background-color: #009688;
        }

        table {
            border: 5px solid #ccc;
            border-collapse: collapse;
            margin-top: 100px;
            border-color: #009688;
        }

            table th {
                background-color: #e0f2f1;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 10px;
                padding-top: 20px;
                border: 1px solid #ccc;
                background-color: #e0f2f1;
            }

        .error {
            color: red;
        }
        .Text {
            text-align: center;
            margin-top: 10px;
            font-size: 50px;
            text-decoration-color: #000000;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/GetData.js"></script>
</head>
<body style="background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)">
    <div class="Text">
        <text>
            Welcome To Lab Portal !

        </text>
    </div>
    @using (Html.BeginForm("LoginStudent", "Login", FormMethod.Post))
    {
        //this  is for create form tag
        @Html.AntiForgeryToken() // this is for prevent CSRF attack


        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table border="1" cellpadding="50" cellspacing="50" align="center" width="500">
            <tr>
                <th colspan="7">
                    LOGIN PAGE
                </th>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    @Html.TextBoxFor(a => a.Username)
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="NewUser->Register" onclick="location.href='@Url.Action("Index", "Home")'" />
                </td>
                <td></td>
            </tr>
        </table>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>
